BasedOnStyle: Google
Language:	Cpp
PointerAlignment: Right
AccessModifierOffset: -4
IndentWidth: 4
MaxEmptyLinesToKeep: 1
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AlignAfterOpenBracket: true
IndentCaseLabels: true
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ColumnLimit: 200
AlignTrailingComments: true
SpaceAfterCStyleCast: false
AlignOperands: true
SpacesInSquareBrackets: false
AlignConsecutiveDeclarations: false
SpacesInContainerLiterals: false
BreakConstructorInitializersBeforeComma: true
AllowAllParametersOfDeclarationOnNextLine: false
ContinuationIndentWidth: 4
TabWidth: 4
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 1